@media  (max-width:756px){
    .template-box{
        display: flex;
        flex-direction: column;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
    }
}


@media  (max-width:1200px){
    .template-box{
        display: flex;
        flex-wrap: wrap;
    }
}

/* mobile version */
@media (max-width: 600px){
    .section-container{
       max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 0px;
        overflow-x: hidden;
    }
    .site-wrapper{
       max-width: 100vw;
       padding: 0;
    }
    .hero-header{
        height: auto;
        flex-direction: column;
        width: 100% !important;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6px 0px;
    }
    header img{
        margin-top: 0px;
        /* width: 300px;
        height: 300px; */
    }
    header nav{
        position: relative;
        left: 0% !important;
        margin-top: 0px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    header nav a{
        display: block;
        padding: 10px;
        font-size: 15px;
    }
    header nav a:hover{
        color: darkgoldenrod;
        transition: all 0.8s ease;
    }
   
    header nav button{
        width: 150px;
        padding: 0px;
    
    }
    header nav button a:hover{
        height: fit-content;

    }
    .hero{
        width: 100%;
    }
    .hero::before{
        transform: translateX(150%);
        /* width: fit-content; */
        width: 100%;
        max-width: 700px;
        overflow: hidden;

    }
    .hero.show-bg::before{
        transform: translateX(0);
        width: 100%;
        max-width: 700px;
        /* height: 300px; */
    }
    .hero-content{
       position: relative; 
       left: -10px;
       width: 100%;
        
    }
    .hero-content h1{
        font-size: 25px;
        
    }
    .hero-content::before{
         width: 70%;
         top: -380px;
         left: -60px;
         height: auto;
         z-index: -4;

    }
    /*scroll navbar */
    .scroll-header{
        position: relative;
         display: none;
    }
    .scroll-container{
        display: flex;
        flex-direction: column;
       
    }
    .scroll-container navbar {
        display: flex;
        flex-direction: column;
    }
    .hero-content p{
        font-size: 18px;
        margin-top: -40px;
    }
    .about-section{
        height: fit-content;
        padding: 5px;
    }
    .about-content{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .aboutText{
        flex-grow: 1;
        flex-basis: 200;
        width: 100%;
       
    }
    .about-image{
        width: 100%;

    }
    .ceo-card{
        width: 100%;
        
    }
    .ceo-card{
        padding: clamp(10px, 1vw, 0px);
    }
    .ceo-image-wrapper {
        max-width: 400px;
        height: 200px;
    }
    .ceo-image-wrapper img{
        height: 50%;
        width: 100%;
        object-fit: cover;
    }
    .property-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .property-card{
        width: 100%;
    }
    /* services page*/
    .service-row{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .service-col{
        width: 100%;
    }
    .services-Cta{
        flex-wrap: wrap;
    }
    .animation-video{
        margin-top: 20px;
    }

    /* counter */
    .counter-container{
        min-height: 100% !important;
        display: flex;
        padding: 0px 10px;
        flex-direction: column !important;
         width: 100%;
         flex-wrap: wrap;
         margin-top: -30px !important;

    }
    .content-box{
        width: 100%;
        margin-left: 30px;   
        height: fit-content;
    }
    .counter-box::before{
        height: 210px;
        top: 0px;
    }
    .counter-box h2{
        font-size: 70px;
        margin-top: 20px;
    }
    .counter-container{
        flex-wrap: wrap;
        height: fit-content;
        margin-top:-80px;
        flex-direction: column;
    }
    .counter-box{
        width: 100%;
    }
    
    .footer-container{
        width: 100%;
        flex-wrap: wrap;
        /* gap: 20px; */
        display: flex;
        height: fit-content;
        flex-direction: column;
    }
    .footer-box {
        flex-grow: 1;
        flex-basis: 200;
        height: auto;
        width: 100%;
    }
    .contact-footer{
        position: relative;
        left: 0px;
}
    .icons{
        display: flex;
        flex-wrap: wrap;
    }
    .contact-section{
        padding: 40px;
    
    }
    .contact-box{
        flex-direction: column;
    }
    .text-icons{
        position: relative;
        left: 0px;
        width: 100%;
    }
    .text-icons a{
        flex-direction: row;
    }
    .radio-row{
        /* white-space: wrap; */
        flex-wrap: wrap;
    }
    .expertise-viewpoint{
        overflow: hidden;
        width: calc(1 * 300px + 40px);
    }
    .flip-card{
        width: 330px;
    }
    .template-box{
        flex-wrap: wrap;
        flex-direction: column;
    }
     /* .testimonials-wrapper{
        flex-wrap: wrap;
    } */
    .testimonials-cards{
        width: 400px;
    }
    /* scroll */
    .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right:0px;
        top: 380px;
        bottom: 0px;
    }
    /* get in quote */
    .package-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .package-card{
        width: 350px;
        
    }
    .package-card a{
        position: relative;
        left: -20px;
        width: 100%;
    }
    .compare-box{
        width: 100px;
    }
    .compare-card{
        flex-wrap: wrap;
    }
    .list{
        margin-top: 30px;
       
    }
    .list p{
         height: 600px;
        width: 20px;
        font-size: 12px;
    }
    .list h3{
        text-align: start;
        font-size: 15px;
    }
    /* calculation */
    .plot-input input{
        width: 100%;
    }
    .navbar button{
        width: 300px;
        padding: 0px;
    }
     .projectImage img {
        width: 100%;
    }
    .project-wrapper{
          display: flex;
           flex-wrap: wrap;
        flex-direction: column;
    }
    .project-card{
        width: 100%;
        height: fit-content;
    }
    .floors-container{
        flex-direction: column;
    }
    /* map */
    .project-iframe{
         margin: 10px;
    }
    .project-iframe iframe{ 
        width: 100%;
        
    }   
    /* team */
    .team-wrapper{
        flex-direction: column;
    }
    .team-card{
        width: 100%;
        
    }
    /* youtube play */
    .video-card {
        width: fit-content;
    }
    /* copyright */
    .copyright{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    /* .vm-card */
    .vm-card{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

}
/* tables */
@media (min-width: 601px) and (max-width: 900px) {
    .section-container{
        width: 100%;
        overflow-x: hidden;
    }
    .hero-header{
        height: auto;
        /* flex-direction: column; */
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 6px 0px;
    }
    header img{
        margin-top: 0px; 
        margin-left: -40px;  
    }
    header nav{
        width: fit-content;
        margin-top: -50px;
        position: fixed;
        right: 0px;
        top: 80px;
        padding: 0px;
        display: flex;
        align-items: center;
        gap:0px;
        
    }
    header nav a{
        font-size: 10px;
        padding: 5px 10px;
    }
   header nav button{
         padding: 10px 0px;
         display: flex;
    }
    header img{
        width: 120px;
        height: 100px;
        margin-top: 0px;
        margin-left: 0px;
    }

    /* scroll */
    .scroll-container img{
         width: 70px ; 
        height: 70px ;
        margin-top: 0px;
    }
    .scroll-container navbar a{
        font-size: 13px;
    }
    .hero{
        margin-top: -110px;
    }
   
    .hero-content h1{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
    }
    .hero-content{
        text-align: left;
    }
     .hero-content::before{
        width: 600px;
     }
    .about-section{
        height: fit-content;
        padding: 5px;
    }
    .about-content{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .aboutText{
        flex-grow: 1;
        flex-basis: 200;
        width: 100%;
       
    }
    .about-image{
        width: 100%;
    }
    
    .site-wrapper{
        flex-wrap: wrap;
        width: 100%;
       
    }
    .site-card{
        width: 300px;
    }
    .property-wrapper{
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .property-card{
        width: 100%;
    }
        /* services page*/
    .service-row{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .service-col{
        width: 100%;
    }
    .services-Cta{
        flex-wrap: wrap;
    }
    .animation-video{
        margin-top: 20px;
    }
      .vm-card{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    /* counter */
    .counter-container{
        flex-wrap: wrap;
        height: fit-content;
        display: flex;
        padding: 0px 10px;
        margin-top: 0px;

    }
    .counter-box{
        position: relative;
        flex-grow: 1;
        flex-basis: 200;
        flex-wrap: wrap;
        width:200px;

    }
    .counter-box::before{
        height: 250px;
        position: absolute;
        top: 60px;
        padding: 0;
        margin-bottom: 10px;
    }
    .counter-box h2{
        margin-top: 30px;
        font-size: 80px;
    }  
    .contact-footer{
        position: relative;
        left: -15px;
    } 
    .footer-container{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        height: fit-content;
        
    }
    .footer-box {
        flex-grow: 1;
        flex-basis: 200;
        height: auto;
        width: 200px;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
    }

    .contact-section{
        padding: 40px;
    
    }
    .contact-box{
        flex-wrap: wrap;
    }
    .text-icons{
        position: relative;
        left: 0px;
        width: 100%;
    }
    .text-icons a{
        flex-direction: row;
    }
    .radio-row{
        /* white-space: wrap; */
        flex-wrap: wrap;
    }

    .expertise-viewpoint{
        overflow: hidden;
        width: calc(2 * 300px + 40px);
    }
    .flip-card{
        width: 305px;
    }
    .expertise-cards {
    flex-direction: column;
    }
     .template-box{
        flex-wrap: wrap;
    }

    .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 0px;
        top: 380px;
        bottom: 0px;
    }
    /* get a quote */
    
    .package-wrapper{
        flex-wrap: wrap;
    }
    .projectImage{
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;
    }
    .projectImage img{
        width: calc((100% - 10px) / 2); 
    }
    .project-wrapper{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        
    }
    .project-card{
        width: 40%;
    }
    .counter-heading{
        height: 40vh;
    }
    .template-box{
        flex-wrap: wrap;
    }
    


}

@media (min-width: 901px) and (max-width: 1250px){
    
    .section-container{
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    header nav{
        width: fit-content;
        position: relative;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        gap:0px;
    }
    header img{
        width: 150px;
        height: 130px;
    }
    
    /* scroll-navbar */
    .scroll-container img{
        margin-top: 0px;
    }
    .about-section{
         height: fit-content;
         width:100%;
         
         
    }
    .about-content{
       width: 100%;
       height: 100vh;
       flex-wrap: wrap;

    }
    .aboutText{
        padding: 0px;
        width: 50%;
    }
    .about-image {
        height: 400px;
    }
    .about-image img{
        width: 100%;
        height: 100%;
    }
    .about-content, .counter-container, .footer-container{
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        height: fit-content;
        
    }

    .counter-box{
        position: relative;
        margin-top: 30px;
        width: 200px;
    }
    .counter-box h2{
        font-size: 5rem;
    }
    .counter-box::before{
       position: absolute;
       left: -20px;
       height: 280px;
    }
    .counter-container{
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content !important;
    }
    .template-container{
        padding: 0px 0px;
        margin: 0;
        margin-left: -70px;
    }
    .template-box{
        display: flex;
        align-items: center;
        justify-content: center;
        
       
        
    }
    .template-card{
        width: 200px;
    }
     .template-front{
        width: 200px;
     }
     .template-front h3{
        margin-left: 90px;
     }
    .template-back{
        width: 200px;
    }
    /* scroll */ 
    .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 10px;
        top: 350px;
        bottom: 0px;
    }
    .footer-container{
        height: 160vh;
        flex-wrap: wrap;
    }
    .footer-box{
         flex-wrap: wrap;
    }
      /* get a quote */
    
    .package-wrapper{
        flex-wrap: wrap;
    }
     .projectImage{
        flex-wrap: wrap;
        height: fit-content;
    }
     .project-card{
        flex-wrap: wrap;
        width: 30px !important;
        gap: 0px;
    }
   
    .scroll-btn{
        position: relative;
        right: 30px;
    }
    .copyright{
        height: fit-content;
    }
   
}
/* 
@media (min-width:1400px) and (max-width:10000px){
    .section-container{
        width: 100%;
        max-width: 3000px;
    }
    header{
        height: 200px;
    }
    header img{
        width: 400px;
        height: 400px;
    }
    nav{
        flex-wrap: wrap;
        position: fixed;
        left: 30%;
        z-index: 22;
        padding: 20px 10px;
    }
    nav a{
        font-size: 2rem;
        padding: 60px 40px;
        cursor: pointer;
    }
    nav a:hover{
        color: darkgoldenrod;
        transition: all 0.8s ease;
    } 
    .hero-content{
        width: 200%;
        position: relative;
        margin: 0;
    }
    .hero-content h1{
        font-size: 5rem;
        width: 70vw;
    }
    .hero-content::before{
        position: absolute;
        top: -500%;
        height: 220vh;
        width: 80vw;
    }
    .hero-content p{
        font-size: 3rem;
        width: 70vw;
    }
    .btn{
        font-size: 2rem;
    }
    .about-section{
        height: fit-content;
        flex-wrap: wrap;  
    }
    .about-content{
        height: auto;
        max-width: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .aboutText p{
        font-size: 2rem;
        width: 1000px;

    }
    .about-image{
       width: 100%;
       position: relative;
       z-index: 2;
    }
    .about-image img{
        width: 100%;
        height: 800px;
        z-index: 0;
    }
    .about-section h1{
        font-size: 4rem;
    }
    .counter-box{
        width: fit-content;
        height: fit-content;
        
    }
    .counter-box h2{
        font-size: 8rem;
    }
    .counter-box h3{
        font-size: 2rem;
    }
    .counter-box p{
        font-size: 1.5rem;
    }
    .counter-box::before{
        height: 400px;
        width: 7px;
    }
    .footer-container{
        height: fit-content;
    }
     .footer-box{
        width: 300px;
        height: 500px;
     }
    .footer-box h3{
        font-size: 2rem;
    }
    .footer-box h4{
        font-size: 22px;
    }
    .footer-box h2{
        font-size: 30px;
    }
    .footer-box p{
        font-size: 25px;
    }
    .icons i{
        font-size: 40px;
    }
    .footer-links a{
        font-size: 30px;
    }
    .contact-content{
     max-width: 1500px;
     margin-top: 30px;
     margin-bottom: 40px;
    
    }
    .contact-text h1{
        font-size: 3vw;
        width: 100%;
    }
    .text-box h5, .text-icons h5{
        font-size: 2vw;
    }
    .text-box p{
        font-size: 1.2vw;
    }
    .text-icons{
        position: relative;
        left: -190px;
    }
    .text-icons a{
        font-size: 1.3vw;
        margin: 20px;
        padding: 15px;
    }
    .contact-container{
        max-width: 1700px;
        padding: 10px;
        height: fit-content;
        padding: 20px;
    }
    .contact-container h1{
        font-size: 3vw;
    }
    .subtitle{
        font-size: 1.3vw;
    }
    .form-box{
        display: flex;
        width: 100%;
    }
    .contact-form input, select,textarea{
        width: 100%;
        padding: 25px 30px;
        font-size: 1.3vw;
    }
    .radio-row label, input{
        font-size: 1.2vw;
        padding: 20px;
    }
    .contact-form select option{
        width: 100px;
    }
    .contact-btn{
        font-size: 1.2vw;
        max-width: 600px;
    }
    .carousel{
        margin: 40px 300px;
        width: 80%;
        padding: 20px 10%;
        overflow-x: auto;
        
       
    }
    .group{
        width: calc(6 * 300px + 40px);
        animation: spin 5s linear infinite;
        margin-top: 80px;
    }
    .card{
        height: 17em;
        width: max-content;
    }
    .card img{
        width: 230px;
    }
    @keyframes spin{
        0% {
            translate: 0;
        }
        100%{
            translate: -30%;
        }
    }

   .template-container{
        width: 100%;
        padding: 20px 7%;
    }
    .expertise-container{
        margin: 0;
        padding: 0;
    }
    .template-box{
        width: 100%;
    }
     .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 0px;
        top: 900px;
        bottom: 0px;
    }
    .footer-container{
        height: 700px;
    }
    .testimonials-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
     .projectImage{
        flex-wrap: wrap;
        height: fit-content;
    }
    
} */